{% extends './partials/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load socialaccount %}
{% block content %}
<div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Password reset for your account
        </h1>
        <form method="post" class="p-6 space-y-4 relative bg-white shadow-lg rounded-lg">
            {% csrf_token %}
            

            <p type="submit" class="bg-blue-600 font-semibold p-3 rounded-md text-center text-white w-full">
                We have sent you a reset password for your account to your email
            </p>
        </form>
    </div>
</div>


{% endblock %}
