{% load allauth %}
{% if product %}
<form method="POST" action="{% url 'purchases:start' %}">
    {% csrf_token %}
    <input type="hidden" value="{{product.handle}}" name="handle" />
    <div>
        {% if request.user.is_anonymous %}
        <a href="{% url 'account_login'%}">Login or Signup To purchase</a>
        {% else %}
        <button type="submit" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
            Get It
            </span>
        </button>
        {% endif %}
        <div class="flex items-baseline text-gray-900 dark:text-white">
            <span class="text-3xl font-semibold">&#8358;</span>
            <span class="text-5xl font-extrabold tracking-tight">{{product.display_price}}</span>
        </div>
    </div>
</form>
{% endif %}